* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* FLEXBOX */
  display: flex;
  justify-content: center;
}

.container-big {
  background-color: rgb(210, 0, 0);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  max-width: 1000px;
  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-grid {
  box-sizing: content-box;
  width: 800px;
  height: 600px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: rgb(211, 211, 211);
  /* GRID */
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(20, 1fr);
}

.title {
  margin: 20px;
  font-size: 50px;
  color: gold;
  font-family: "Cabin Sketch", cursive;
  font-weight: bold;
}

.container-body {
  margin: 0 40px 20px 40px;
  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* BUTTONS */

.container-buttons {
  width: 100%;
  /* FLEXBOX */
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  font-size: 18px;
  font-family: "Cabin Sketch", cursive;
  background-color: rgb(211, 211, 211);
  color: rgb(50, 50, 50);
  border-radius: 10px;
  border: 1px solid rgb(211, 211, 211);
  padding: 10px 20px;
}

.btn:hover {
  background-color: rgb(50, 50, 50);
  color: rgb(211, 211, 211);
  cursor: pointer;
}
