* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* FLEXBOX */
  display: flex;
  justify-content: center;
}

.container-big {
  background-color: rgb(210, 0, 0);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  max-width: 1000px;
  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-body {
  margin: 0 70px 20px 70px;
  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* GRID */
.container-grid {
  box-sizing: content-box;
  width: 720px;
  height: 540px;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 2px;
  background-color: rgb(211, 211, 211);
  /* GRID */
  display: grid;
}

/* HEADER (OVER GRID) */
.title {
  margin: 20px;
  font-size: 50px;
  color: gold;
  font-family: "Cabin Sketch", cursive;
  font-weight: bold;
}

/* FOOTER (UNDER GRID) */
.container-buttons {
  width: 100%;
  height: 50px;
  /* FLEXBOX */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.left {
  height: 50px;
  margin-left: 10px;
  /* FLEXBOX */
  display: flex;
  gap: 40px;
}

.input-container {
  height: 100%;
  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.input-container .label {
  font-family: "Cabin Sketch", cursive;
  color: gold;
  font-weight: normal;
  font-size: 18px;
}

.pixel-size {
  height: 25px;
  width: 130px;
}

.color-picker {
  height: 25px;
  width: 50px;
}

.right {
  margin-right: 10px;
  /* FLEXBOX */
  display: flex;
  gap: 20px;
}

.btn {
  font-size: 18px;
  font-family: "Cabin Sketch", cursive;
  background-color: rgb(211, 211, 211);
  color: rgb(50, 50, 50);
  border-radius: 10px;
  border: 4px solid rgb(211, 211, 211);
  padding: 8px 16px;
}

.btn:hover {
  border: 4px solid gold;
  cursor: pointer;
}
